@import url('https://fonts.googleapis.com/css?family=Oswald:700');

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    display: block;
    color: black;
    font-size: x-large;
}
.scrollText {
    color: #ad6768;
    font-size: 1.2rem;
    margin: 1rem;
}
.frame {
    max-width: 60rem;
    /*
    box-shadow: 0 0 20px 0.1px grey;
    */
    margin: auto;
    margin-top: 0rem; 
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
}
.menu-left, .menu-right {
    font-size: 1.2rem;
}
.menu-left {
    float: left;

}
.menu-right {
    float: right;
    margin-left: 0.5rem;
}
.active {
    text-decoration: overline;
}
.sub_navigation {
    font-size: 1.2rem;
    float: left;
    margin-right: 1rem;
    margin-top: 1rem;
}
.title {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
}
h2 {
    margin-top: 0.2rem;
    font-size: 2rem;
}
a {
    text-decoration: none;
    color: black;    
}
img {
    box-sizing: border-box;
    padding: 0.1rem;
    display: block;
    max-width: 100%;
}
iframe {
    max-width: 100%;
}
.taglist {
    padding-bottom: 1rem;
    list-style: none;
    padding-left: 0;
    padding-right: 0;
}
.tagItem {
    float: left;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    transform: rotate(4deg);

}
.artlist, .newslist {
    display: block;
    box-sizing: border-box;
    float: left;
    padding-bottom: 0.05rem;
}
.artlist {
    padding-left: 0rem;
    padding-right: 0rem;
}
.newslist {
    background-color: rgb(180,0,0);
    margin: 0.5rem;
    margin-bottom: 0rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.newslist a{
    text-decoration: none;
    color: white;
}
.newslist h3 {
    font-size: 1.2rem;
}
.newslist h3, .newslist h6 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}
.artlist img, .newslist img {
    width: 100%;
    padding: 0.1rem;
}
.content p {
    /*
    margin-top: 0;
    */
}
@media (min-width: 40rem) {
    .artlist {
        width: 33%;
    }
    .newslist {
        width: calc(50% - 1rem);
    }
    .content img {
        max-width: 50%
    }
}
@media (max-width: 40rem) {
    .artlist {
        width: calc(50%);
    }
    .newslist {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}
